#### Importing Geospatial_data

In [ ]:
import pandas as pd
import numpy as np

In [2]:
link = 'https://cocl.us/Geospatial_data'

In [3]:
postal_df = pd.read_csv(link)
postal_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### Repeating exporting data from Wikipedia step to get the dataframe

In [4]:
from bs4 import BeautifulSoup
import requests

In [5]:
wikilink = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
soup = BeautifulSoup(wikilink.text,'lxml')

In [6]:
data = []
columns = []
table = soup.find(class_='wikitable')

for index, tr in enumerate(table.find_all('tr')):
    section = []
    for td in tr.find_all(['th','td']):
        section.append(td.text.rstrip())
        
    if (index==0):
        columns = section
    else:
        data.append(section)

# The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

can_df = pd.DataFrame(data=data, columns=columns)
can_df.head(10)

  Postal Code           Borough                                 Neighborhood
0         M1A      Not assigned                                 Not assigned
1         M2A      Not assigned                                 Not assigned
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
7         M8A      Not assigned                                 Not assigned
8         M9A         Etobicoke      Islington Avenue, Humber Valley Village
9         M1B       Scarborough                               Malvern, Rouge

In [7]:
can_df = can_df[can_df['Borough'] != 'Not assigned']
can_df.head(10)

   Postal Code           Borough                                 Neighborhood
2          M3A        North York                                    Parkwoods
3          M4A        North York                             Victoria Village
4          M5A  Downtown Toronto                    Regent Park, Harbourfront
5          M6A        North York             Lawrence Manor, Lawrence Heights
6          M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
8          M9A         Etobicoke      Islington Avenue, Humber Valley Village
9          M1B       Scarborough                               Malvern, Rouge
11         M3B        North York                                    Don Mills
12         M4B         East York              Parkview Hill, Woodbine Gardens
13         M5B  Downtown Toronto                     Garden District, Ryerson

In [8]:
new_df = can_df.groupby("Postal Code").agg(lambda x:','.join(set(x)))
new_df.head(10)

                 Borough                                     Neighborhood
Postal Code
M1B          Scarborough                                   Malvern, Rouge
M1C          Scarborough           Rouge Hill, Port Union, Highland Creek
M1E          Scarborough                Guildwood, Morningside, West Hill
M1G          Scarborough                                           Woburn
M1H          Scarborough                                        Cedarbrae
M1J          Scarborough                              Scarborough Village
M1K          Scarborough      Kennedy Park, Ionview, East Birchmount Park
M1L          Scarborough                  Golden Mile, Clairlea, Oakridge
M1M          Scarborough  Cliffside, Cliffcrest, Scarborough Village West
M1N          Scarborough                      Birch Cliff, Cliffside West

In [9]:
new_df.loc[new_df['Neighborhood']=="Not assigned",'Neighborhood']=new_df.loc[new_df['Neighborhood']=="Not assigned",'Borough']

#### Use the Geocoder package or the csv file to create the following dataframe:

In [10]:
new_df['Latitude'] = postal_df['Latitude'].values
new_df['Longitude'] = postal_df['Longitude'].values

new_df

,Borough,Neighborhood,Latitude,Longitude
Postal Code,,,,
M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
M1G,Scarborough,Woburn,43.770992,-79.216917
M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...
M9N,York,Weston,43.706876,-79.518188
M9P,Etobicoke,Westmount,43.696319,-79.532242
M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054